<% layout('../layouts/admin') -%>
	<div class="row">
		<div class="col-12">
			<div class="page-title-box">
				<div class="page-title-left">
					<ol class="breadcrumb m-0">
						<li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
						<li class="breadcrumb-item">
							<a href="/admin/university">Universities</a>
						</li>
						<li class="breadcrumb-item active">
							<a href="javascript: void(0);">Edit</a>
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	
	<form method="post" id="editUniversityForm" enctype="multipart/form-data">
		<div class="row">
			<div class="col-sm-6">
				<div class="page-title-box">
					<h4 class="page-title">Edit University</h4>
				</div>
			</div>
			<div class="col-lg-6 text-right">
				<div class="form-group mb-3 text-right">
					<button id="submiteditUniversityForm" type="submit"
						class="btn btn-primary waves-effect waves-light">
						Update
					</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-lg-12">
								<div class="form-group mb-3">
									<label>Name <span class="text-danger">*</span></label>
									<input type="text" name="university_name" class="form-control" placeholder="Title"
										autocomplete="off" value="<%= university.university_name %>" />
									<div class="text-danger university_name"></div>
								</div>
							</div>

							<div class="col-lg-12">
								<div class="form-group mb-3">
									<label>Duration (Full Time)</label>
									<input type="number" name="full_time_months" class="form-control"
										placeholder="Full Time Duration" value="<%= university.duration.full_time_months %>" />
									<div class="text-danger full_time_months"></div>
								</div>
							</div>

							<div class="col-lg-12">
								<div class="form-group mb-3">
									<label>Duration (Part Time)</label>
									<input type="number" name="part_time_months" class="form-control"
										placeholder="Part Time Duration" value="<%= university.duration.part_time_months %>" />
									<div class="text-danger part_time_months"></div>
								</div>
							</div>

							<div class="col-lg-12">
								<div class="form-group mb-3">
									<label>Disciplines</label>
									<select class="form-control" name="discipline" multiple>
										<option>Select</option>
										<% for(var i=0; i < disciplines.length; i++) { %>
											<option <%= (university?.disciplines && university?.disciplines.find(dis => dis._id.toString() === disciplines[i]._id.toString())) ? 'selected' : '' %> value="<%= disciplines[i]._id %>"><%= disciplines[i].name %></option>
										 <% } %>
									</select>
									<div class="text-danger part_time_months"></div>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="form-group mb-3">
									<label>Location</label>
									<select class="form-control" name="location">
										<option value="">Select Location</option>
										<% for(var i=0; i < LOCATION.length; i++) { %>
											<option <%= university?.location && university?.location === LOCATION[i] ? 'selected' : '' %> value="<%= LOCATION[i] %>">
												<%= LOCATION[i] %>
											</option>
											<% } %>
									</select>
									<div class="text-danger location"></div>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="form-group mb-3">
									<label>Tags <small>add comma (,) between tags</small></label>
									<input type="text" name="tags" class="form-control"
										placeholder="Online, On Campus, Offline" value="<%= university.tags.join(', ') %>" />
									<div class="text-danger tags"></div>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="form-group mb-3">
									<label>Tuition Fees</label>
									<input type="number" name="tuition_fees" class="form-control" placeholder="$2000" value="<%= university.tuition_fees %>" />
									<div class="text-danger tuition_fees"></div>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="form-group mb-3">
									<label>Living Costs</label>
									<input type="number" name="living_costs" class="form-control" placeholder="$2000" value="<%= university.living_costs %>" />
									<div class="text-danger living_costs"></div>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="form-group mb-3">
									<label>Apply Date</label>
									<input type="date" name="apply_date" class="form-control" value="<%= university.apply_date %>" />
									<div class="text-danger apply_date"></div>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="form-group mb-3">
									<label>Start Date</label>
									<input type="date" name="start_date" class="form-control" value="<%= university.start_date %>" />
									<div class="text-danger start_date"></div>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="form-group mb-3">
									<label>Language</label>
									<input type="text" name="language" class="form-control" placeholder="English" value="<%= university.language %>" />
									<div class="text-danger language"></div>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="form-group mb-3">
									<label>Min Degree Requirement</label>
									<select name="min_degree" class="form-control">
										<option value="">Select degree</option>
										<option <%= university?.min_degree === "High school diploma" ? 'selected' : '' %> value="High school diploma">High school diploma</option>
										<option <%= university?.min_degree === "Bachelor's degree" ? 'selected' : '' %> value="Bachelor's degree">Bachelor's degree</option>
										<option <%= university?.min_degree === "Master's degree" ? 'selected' : '' %> value="Master's degree">Master's degree</option>
										<option <%= university?.min_degree === "Ph.D degree" ? 'selected' : '' %> value="Ph.D degree">Ph.D degree</option>
									</select>
									<div class="text-danger min_degree"></div>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="form-group mb-3">
									<label>Min Experience Requirement</label>
									<select name="min_experience" class="form-control">
										<option value="">Select experience</option>
										<option <%= university?.min_experience === "No experience" ? 'selected' : '' %> value="No experience">No experience</option>
										<option <%= university?.min_experience === "1 Year" ? 'selected' : '' %> value="1 Year">1 Year</option>
										<option <%= university?.min_experience === "2 Year" ? 'selected' : '' %> value="2 Year">2 Year</option>
										<option <%= university?.min_experience === "3-4 Year" ? 'selected' : '' %> value="3-4 Year">3-4 Year</option>
										<option <%= university?.min_experience === "5+ Year" ? 'selected' : '' %> value="5+ Year">5+ Year</option>
									</select>
									<div class="text-danger min_experience"></div>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="form-group mb-3">
									<label>Min Grade Requirement</label>
									<select name="min_grade" class="form-control">
										<option value="">Select grade</option>
										<optionn <%= university?.min_grade === "High Distinction" ? 'selected' : '' %> value="High Distinction">High Distinction (85-100%)</option>
										<option <%= university?.min_grade === "Distinction" ? 'selected' : '' %> value="Distinction">Distinction (75-84%)</option>
										<option <%= university?.min_grade === "Credit" ? 'selected' : '' %> value="Credit">Credit (65-74%)</option>
										<option <%= university?.min_grade === "Pass" ? 'selected' : '' %> value="Pass">Pass (50-64%)</option>
										<option <%= university?.min_grade === "Near Pass" ? 'selected' : '' %> value="Near Pass">Near Pass (40-49%)</option>
									</select>
									<div class="text-danger min_grade"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-lg-12">
								<div class="form-group mb-3">
									<label class="mb-2">English Requirement</label>
									<div class="pl-2">
										<div class="form-group row">
											<label for="englishRequirement1" class="col-sm-4 col-form-label">IELTS :</label>
											<div class="col-sm-8">
												<input value="<%= university?.english_requirements.find(eng => eng.title.toString() === 'IELTS')?.score %>" name="english1" placeholder="add score between 0 and 9" type="number" class="form-control" id="englishRequirement1" >
												<div class="text-danger english1"></div>
											</div>
										</div>
										<div class="form-group row">
											<label for="englishRequirement2" class="col-sm-4 col-form-label">PTE Academic :</label>
											<div class="col-sm-8">
												<input value="<%= university?.english_requirements.find(eng => eng.title.toString() === 'PTE Academic')?.score %>" name="english2" placeholder="add score between 10 and 90" type="number" class="form-control" id="englishRequirement2" >
												<div class="text-danger english2"></div>
											</div>
										</div>
										<div class="form-group row">
											<label for="englishRequirement3" class="col-sm-4 col-form-label">TOEFL (paper based) :</label>
											<div class="col-sm-8">
												<input value="<%= university?.english_requirements.find(eng => eng.title.toString() === 'TOEFL (paper based)')?.score %>" name="english3" placeholder="add score between 310 and 677" type="number" class="form-control" id="englishRequirement3" >
												<div class="text-danger english3"></div>
											</div>
										</div>
										<div class="form-group row">
											<label for="englishRequirement4" class="col-sm-4 col-form-label">TOEFL (internet based) :</label>
											<div class="col-sm-8">
												<input value="<%= university?.english_requirements.find(eng => eng.title.toString() === 'TOEFL (internet based)')?.score %>" name="english4" placeholder="add score between 0 and 120" type="number" class="form-control" id="englishRequirement4" >
												<div class="text-danger english4"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="form-group mb-3">
									<label>About</label>
									<textarea name="about_short_content" class="form-control"><%= university.about_short_content %></textarea>
									<div class="text-danger about_short_content"></div>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="form-group mb-3">
									<label>Overview</label>
									<textarea name="overview" class="form-control"><%= university.overview %></textarea>
									<div class="text-danger overview"></div>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="form-group mb-3">
									<label>Course Include</label>
									<textarea name="course_include" class="form-control"><%= university.course_include %></textarea>
									<div class="text-danger course_include"></div>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="form-group mb-3">
									<label>Academic Requirements</label>
									<textarea name="academic_requirements" class="form-control"><%= university.academic_requirements %></textarea>
									<div class="text-danger academic_requirements"></div>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="form-group mb-3">
									<label>Student Insurance</label>
									<textarea name="student_insurance" class="form-control"><%= university.student_insurance %></textarea>
									<div class="text-danger student_insurance"></div>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="form-group mb-3">
									<label>Other Requirements</label>
									<textarea name="other_requirements" class="form-control"><%= university.other_requirements %></textarea>
									<div class="text-danger other_requirements"></div>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="form-group mb-3">
									<label>Scholarships Information</label>
									<textarea name="scholarships_information" class="form-control"><%= university.scholarships_information %></textarea>
									<div class="text-danger scholarships_information"></div>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="form-group mb-3">
									<label>Work Permits</label>
									<textarea name="work_permits" class="form-control"><%= university.work_permits %></textarea>
									<div class="text-danger work_permits"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<script>
		$(".categoryManager").addClass("active");
	</script>
	<script>
		$(document).ready(function () {
			$("#editUniversityForm").validate({
				errorPlacement: function (error, element) {
					const name = $(element).attr("name");
					error.appendTo($("." + name));
				},
				submitHandler: function (form) {
					$("#submiteditUniversityForm").attr("disabled", "disabled");
					form.submit();
				},
				rules: {
					university_name: {
						required: true,
						minlength: 3,
						maxlength: 30,
					},
					full_time_months: {
						required: true,
						number: true,
						min: 1,
						max: 99,
					},
					part_time_months: {
						required: true,
						number: true,
						min: 1,
						max: 99,
					},
					tags: {
						required: true,
						minlength: 2,
						maxlength: 255,
					},
					discipline: {
						required: true,
					},
					location: {
						required: true,
					},
					tuition_fees: {
						required: true,
						number: true,
						minlength: 1,
						maxlength: 9,
					},
					living_costs: {
						required: true,
						number: true,
						minlength: 1,
						maxlength: 9,
					},
					apply_date: {
						required: true,
						date: true
					},
					start_date: {
						required: true,
						date: true
					},
					language: {
						required: true,
						minlength: 3,
						maxlength: 30,
					},
					about_short_content: {
						required: true,
						minlength: 3,
						maxlength: 2500,
					},
					overview: {
						required: true,
						minlength: 3,
						maxlength: 2500,
					},
					course_include: {
						required: true,
						minlength: 3,
						maxlength: 2500,
					},
					academic_requirements: {
						required: true,
						minlength: 3,
						maxlength: 2500,
					},
					student_insurance: {
						required: true,
						minlength: 3,
						maxlength: 2500,
					},
					other_requirements: {
						required: true,
						minlength: 3,
						maxlength: 2500,
					},
					scholarships_information: {
						required: true,
						minlength: 3,
						maxlength: 2500,
					},
					work_permits: {
						required: true,
						minlength: 3,
						maxlength: 2500,
					},
					min_degree: {
						required: true,
					},
					min_experience: {
						required: true,
					},
					min_grade: {
						required: true,
					},
					english1: {
						min: 0,
						max: 9
					},
					english2: {
						min: 10,
						max: 90
					},
					english3: {
						min: 310,
						max: 677
					},
					english4: {
						min: 0,
						max: 120
					},
				},
				messages: "",
			});
		});
		$(".categoryManager").addClass("active");
	</script>