<% layout('../layouts/admin') -%>
<div class="row ">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-left">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="/users">Users</a></li>
                    <li class="breadcrumb-item active">View</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">User Details</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="form-group mb-3">
                            <img style="width: 150px; height: 150px; border-radius: 50%"
                                 src="<%= (user.avatar) ? `${s3Base}${user.avatar}` : `${siteUrl}/images/user-pic.png` %>"
                                 alt="<%= user.avatar %>">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <label>User name: </label>
                            <%= user.userName %>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <label>Full name: </label> <%= user.firstName +' '+ user.lastName  %>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <label>Email: </label> <%= user.email %>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <label>Contact: </label> <%= user.phone %>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <label>Status: </label> <%- user.isSuspended ? '<span class="badge label-table badge-secondary">In-active</span>' : '<span class="badge label-table badge-success">Active</span>' %>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <label>Created at: </label> <%- showDate(user.created) %>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>



<div class="col-sm-12">
    <div class="page-title-box">
        <h4 class="page-title">Bank details</h4>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">

                    <div class="col-lg-12">
                        <div class="form-group mb-3">
                            <label>Account Holder Name: </label>
                            <%= user.accountHolderName ||'N/A' %>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group mb-3">
                            <label>Account Number: </label>
                            <%= user.accountNumber || 'N/A' %>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group mb-3">
                            <label>Routing Number: </label>
                            <%= user.accountRoutingNumber || 'N/A' %>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.userManager').addClass('active');
</script>
